/*================================================
全体に反映される
=================================================*/

/*ブラウザがそれぞれ持っているcssをリセットするための記述*/
＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*要素の横幅や高さが意図したとおりに動くようにしている*/
  color: #6c6b6b; /*すべての要素の文字色をそろえる*/
}

a {
  text-decoration: none; /*リンクに下線が惹かれないように指定をなしにする*/
}

/*=============================
ヘッダー
==============================*/

header {
  width: 90%; /*横幅*/
  padding: 15px 0; /*内側に余白（上下、左右）*/
  margin: 0 auto; /*外側に余白（上下、左右）*/
  text-align: center; /*テキストや画像の行そろえ*/
}

header .heading { /*headerタグ内のheadingクラスのみに反映*/
  font-size: 32px;
}

.nav-list {
  text-align: center; /*テキストや画像の行そろえを設定*/
  padding: 10px 0; /*内側に余白*/
  margin: 0 auto; /*外側に余白*/
}

.nav-list-item {
  list-style: none; /*箇条書きリスト行頭のスタイルの制御（noneは先頭マークなし）*/
  display: inline-block; /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
  margin: 0 20px; /*外側に余白*/
}

/*==============================
メインビジュアル
================================*/

.main-visual {
  width: 100%; /*横幅*/
  height: 300px; /*高さ*/
  background-image: url(img/mv.jpg); /*背景*/
  background-size: cover; /*画像の縦横比を維持したまま、領域全体を覆うサイズで伸縮される（画像の表示されない部分も発生）*/
  background-position: center; /*背景画像の位置の調整（今回は中央に配置）*/
}

.main-visual-content {
  width: 40%; /*画面幅が変わってもバランスが保てるように％へ数値を変更する*/
  height: 300px;
  background-color: rgba(0,0,0,0.5); /*背景色を半透明の黒にする*/
  text-align: center; /* 文字を中央揃えにする */

}

.main-visual-text {
  color: #fff; /*文字色*/
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-visual-name {
  margin-top: 30px; /*上側の外側の余白*/
  color: #fff; /*文字色*/
}


/*===============================
メイン
================================*/

.main {
  width: 800px; /*横幅*/
  /*height: 1400px; 高さはFlexboxの利用の時は削除する*/
  /*background-color: green; 背景色はFlexboxの利用の時は削除する*/
  display: flex; /*Flexboxの利用*/
  justify-content: center; /*子要素の横並び・中央寄せ*/
  margin: 0 auto; /*中央寄せ（左右に余白がないとできない）*/
  padding: 70px 0; /*上下に70px、左右に0pxの内側余白*/
}

.blog {
  width: 540px;
  /*height: 1400px; /*Flexboxの利用の時は高さを親要素の数値に統一する*/
  /*background: limegreen; 背景色はFlexboxの利用の時は削除する*/
  margin-right: 30px; /*領域の右側に余白*/
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7; /*下側のボーダーに関する設定を一括して指定するためのプロパティ*/
  text-align: center; /*文字を中央揃えにする*/
  line-height: 0.6; /*行の高さを設定する*/
}

.blog-box {
  padding-top: 50px; /*上側の内側に余白*/
}

.blog-item {
  padding-bottom:20px; /*下側の内側に余白*/
  margin-bottom: 20px; /*下側の外側に余白*/
  border-bottom: 1px solid #f7f7f7;  /*下側のボーダーに関する設定を一括して指定するためのプロパティ*/
  display: flex; /*Flexboxの利用*/
  justify-content: flex-start;
}

.blog-image {
  height: 180px; /*高さ*/
}

.blog-text {
  padding: 25px 0 0 30px; /*上下に20px 0、左右に0 30pxの内側に余白*/
}

.blog-text-heading {
  padding-bottom: 15px; /*下側に15pxの内側に余白*/
}

.blog-date {
  font-size : 12px;
  display: inline-block; /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
}

.category {
  display: inline-block;  /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
  padding: 5px 8px; /*上下に5px、左右に8pxの内側余白*/
  background-color: #acabab;
  border-radius: 3px; /*領域の四辺の角を丸くしたいときに使うプロパティ*/
  color: #fff;
  font-size: 11px;
}


.sidebar {
  width: 230px;
  /*height: 1400px;  /*Flexboxの利用の利用の時は高さを親要素の数値に統一する*/
  /*background: palegreen; 背景色はFlexboxの利用の時は削除する*/
}



/*===================================
フッター
=====================================*/

footer {
  width: 100%; /*横幅*/
  height: 120px; /*高さ*/
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}