/*================================================
全体に反映される
=================================================*/

/*ブラウザがそれぞれ持っているcssをリセットするための記述*/
＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*要素の横幅や高さが意図したとおりに動くようにしている*/
  color: #6c6b6b; /*すべての要素の文字色をそろえる*/
}

a {
  text-decoration: none; /*リンクに下線が惹かれないように指定をなしにする*/
}

/*=============================
ヘッダー
==============================*/

header {
  width: 90%; /*横幅*/
  padding: 15px 0; /*内側に余白（上下、左右）*/
  margin: 0 auto; /*外側に余白（上下、左右）*/
  text-align: center; /*テキストや画像の行そろえ*/
}

header .heading { /*headerタグ内のheadingクラスのみに反映*/
  font-size: 32px;
}

.nav-list {
  text-align: center; /*テキストや画像の行そろえを設定*/
  padding: 10px 0; /*内側に余白*/
  margin: 0 auto; /*外側に余白*/
}

.nav-list-item {
  list-style: none; /*箇条書きリスト行頭のスタイルの制御（noneは先頭マークなし）*/
  display: inline-block; /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
  margin: 0 20px; /*外側に余白*/
}

/*==============================
メインビジュアル
================================*/

.main-visual {
  width: 100%; /*横幅*/
  height: 300px; /*高さ*/
  background-color: orange; /*背景色*/
}

.main-visual-content {
  width: 350px;
  height: 300px;
  background-color: gold;
}





/*===============================
メイン
================================*/

.main {
  width: 840px; /*横幅*/
  /*height: 1400px; 高さはFlexboxの利用の時は削除する*/
  /*background-color: green; 背景色はFlexboxの利用の時は削除する*/
  display: flex; /*Flexboxの利用*/
  justify-content: center; /*子要素の横並び・中央寄せ*/
  margin: 0 auto; /*中央寄せ（左右に余白がないとできない）*/
}

.blog {
  width: 600px;
  height: 1400px; /*Flexboxの利用の時は高さを親要素の数値に統一する*/
  background: limegreen;
}

.sidebar {
  width: 240px;
  height: 1400px;  /*Flexboxの利用の利用の時は高さを親要素の数値に統一する*/
  background: palegreen;
}



/*===================================
フッター
=====================================*/

footer {
  width: 100%; /*横幅*/
  height: 120px; /*高さ*/
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}