/*================================================
全体に反映される
=================================================*/

/*ブラウザがそれぞれ持っているcssをリセットするための記述*/
＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*要素の横幅や高さが意図したとおりに動くようにしている*/
  color: #6c6b6b; /*すべての要素の文字色をそろえる*/
}

a {
  text-decoration: none; /*リンクに下線が惹かれないように指定をなしにする*/
}

header, nav, h2, .main-visual, footer {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

/*=============================
ヘッダー
==============================*/

header {
  width: 90%; /*横幅*/
  padding: 15px 0; /*内側に余白（上下、左右）*/
  margin: 0 auto; /*外側に余白（上下、左右）*/
  text-align: center; /*テキストや画像の行そろえ*/
  position: relative; /*socialの機銃位置を相対位置へ変更する*/
}
.social {
  position: absolute; /*ヘッダーの左上を基準に絶対一で指定する*/
  top: 22px; /*ヘッダーの左上から22px下側へ移動する*/
  right: 22px; /*ヘッダーの右上から22px左側へ移動する*/
}

.social i {
  display: inline-block;
  margin-left: 20px;
}

header .heading { /*headerタグ内のheadingクラスのみに反映*/
  font-size: 32px;
}

.nav-list {
  text-align: center; /*テキストや画像の行そろえを設定*/
  padding: 10px 0; /*内側に余白*/
  margin: 0 auto; /*外側に余白*/
}

.nav-list-item {
  list-style: none; /*箇条書きリスト行頭のスタイルの制御（noneは先頭マークなし）*/
  display: inline-block; /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
  margin: 0 20px; /*外側に余白*/
}


/*==============================
メインビジュアル
================================*/

.main-visual {
  width: 100%; /*横幅*/
  height: 300px; /*高さ*/
  background-image: url(img/mv.jpg); /*背景*/
  background-size: cover; /*画像の縦横比を維持したまま、領域全体を覆うサイズで伸縮される（画像の表示されない部分も発生）*/
  background-position: center; /*背景画像の位置の調整（今回は中央に配置）*/
}

.main-visual-content {
  width: 40%; /*画面幅が変わってもバランスが保てるように％へ数値を変更する*/
  height: 300px;
  background-color: rgba(0,0,0,0.5); /*背景色を半透明の黒にする*/
  text-align: center; /* 文字を中央揃えにする */

}

.main-visual-text {
  color: #fff; /*文字色*/
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-visual-name {
  margin-top: 30px; /*上側の外側の余白*/
  color: #fff; /*文字色*/
}


/*===============================
メイン
================================*/

main {
  width: 800px; /*横幅*/
  /*height: 1400px; 高さはFlexboxの利用の時は削除する*/
  /*background-color: green; 背景色はFlexboxの利用の時は削除する*/
  display: flex; /*Flexboxの利用*/
  justify-content: center; /*子要素の横並び・中央寄せ*/
  margin: 0 auto; /*中央寄せ（左右に余白がないとできない）*/
  padding: 70px 0; /*上下に70px、左右に0pxの内側余白*/
}

.blog {
  width: 540px;
  /*height: 1400px; /*Flexboxの利用の時は高さを親要素の数値に統一する*/
  /*background: limegreen; 背景色はFlexboxの利用の時は削除する*/
  margin-right: 30px; /*領域の右側に余白*/
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7; /*下側のボーダーに関する設定を一括して指定するためのプロパティ*/
  text-align: center; /*文字を中央揃えにする*/
  line-height: 0.6; /*行の高さを設定する*/
}

.blog-box {
  padding-top: 50px; /*上側の内側に余白*/
}

.blog-item {
  padding-bottom:20px; /*下側の内側に余白*/
  margin-bottom: 20px; /*下側の外側に余白*/
  border-bottom: 1px solid #f7f7f7;  /*下側のボーダーに関する設定を一括して指定するためのプロパティ*/
  display: flex; /*Flexboxの利用*/
  justify-content: flex-start;
}

.blog-image {
  height: 180px; /*高さ*/
}

.blog-text {
  padding: 25px 0 0 30px; /*上下に20px 0、左右に0 30pxの内側に余白*/
}

.blog-text-heading {
  padding-bottom: 15px; /*下側に15pxの内側に余白*/
}

.blog-date {
  font-size : 12px;
  display: inline-block; /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
}

.category {
  display: inline-block;  /*要素の表示形式を設定（inline-blickは指定したHTMLのタフをインラインブロック要素に変更する値）*/
  padding: 5px 8px; /*上下に5px、左右に8pxの内側余白*/
  background-color: #acabab;
  border-radius: 3px; /*領域の四辺の角を丸くしたいときに使うプロパティ*/
  color: #fff;
  font-size: 11px;
}

/*==================================
pagination
====================================*/

.pagination {
  text-align: center; /*文字の中央ぞろえ*/
  padding-top: 50px; /*上部に50px内側に余白*/
}

.pagination p {
  display: inline-block; /*指定したHTMLのタグをインラインブロック要素へ変更する値(横幅や高さ余白を指定できる)*/
  width: 30px; /*横幅*/
  height: 30px; /*高さ*/
  margin: 0 5px; /*上下0px、左右5pxの外側余白*/
  color: #fff;
  background-color: #acabab;
  border-radius: 3px; /*領域の四辺の角を丸くしたいときに使うプロパティ*/
  line-height: 30px; /*文字の行間の調節*/
}

/*===================================
  サイドバー
====================================*/

.sidebar {
  width: 230px; /*横幅*/
  /*height: 1400px;  /*Flexboxの利用の利用の時は高さを親要素の数値に統一する*/
  /*background: palegreen; 背景色はFlexboxの利用の時は削除する*/
}

.common-heading {
  border-bottom: 8px solid #f7f7f7; /*ボーダーラインの一括設定*/
            /* 線の大きさ　線の種類　線の色を表している(solidは１本線を表している)*/
  text-align: center; /*文章の位置の設定*/
  line-height: 0.6; /*ボーダーラインの高さ設定*/
}

.sidebar-contents {
  padding: 50px 0;  /*上下に50px、左右に0px内側に余白*/
}

.popular-text, .categories-text {
  padding-bottom: 5px; /*下に5px内側余白*/
  border-bottom: 1px solid #f7f7f7; /*ボーダーラインの一括設定*/
  margin-bottom: 5px; /*下に5px外側余白*/
}

.popular-text:last-child, .categories-text:last-child { /*疑似クラス（今回はpopular-textとcategories-textの中で、最後に記述された要素のみに適応するという意味)*/
  margin: 0; /*外側余白なし*/
  padding: 0; /*内側余白なし*/
  border: none; /*線の種類の設定（noneはなしを意味する）*/
}

.instagram .sidebar-contents {
  display: flex; /*Flexboxを利用*/
  flex-wrap: wrap; /*flexアイテムが複数行に分割して表示される*/
}

.instagram-box {
  width: 110px; /*横幅*/
  padding-top: 110px; /*上部の110px内側余白*/
  background-size: cover; /*要素の横幅・高さに合わせて背景画像を引き延ばしたり、切り取ったりする指定*/
  background-position: center; /*背景画像の表示位置設定*/
  margin-bottom: 10px; /*下側に10px外側余白*/
}

.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 0; /*外側余白*/
}

.instagram-box:nth-child(1) {
  background-image: url(img/airport.jpg);
}

.instagram-box:nth-child(2) {
  background-image: url(img/japan.jpg);
}

.instagram-box:nth-child(3) {
  background-image: url(img/snow.jpg);
}

.instagram-box:nth-child(4) {
  background-image: url(img/japan2.jpg);
}

.instagram-box:nth-child(5) {
  background-image: url(img/lake.jpg);
}

.instagram-box:nth-child(6) {
  background-image: url(img/road.jpg);
}



/*===================================
フッター
=====================================*/

footer {
  width: 100%; /*横幅*/
  height: 120px; /*高さ*/
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}


/*=======================================
レスポンシブ設定（パソコンでもスマホでもサイズが変わっても違和感なくサイトを見れるようにする設定）
===========================================*/

/*すべての画面サイズで適応される設定*/
  .social i {
    color: black;
  }

/*タブレット横置きサイズ(1024px)以下の際に適応される設定*/
  @media screen and (max-width:1024px) {
    .social i {
      color: green;
    }
  }

/*タブレット横置きサイズ(768px)以下の際に適応される設定*/
  @media screen and (max-width:768px) {
    .social i {
      color: red;
    }
  }

/*スマートフォンサイズ(425px)以下の際に適応される設定*/
  @media screen and (max-width:425px) {
    .social i {
      color: blue;
    }
  }